.cube
{
    width: 16px;
    height: 16px;
    border: 2px solid black;
    display: inline-block;
}

.food
{
    background: green;
}

.wood 
{
    background: saddlebrown;
}

.gold 
{
    background: gold;
}

.favour 
{
    background: blue
}