<div>
    <h1 class="near-white">
        <a class="link white" uiSref="home">&larr;</a>
        {{unit.name}}
        <span class="pa1 mt--1 bg-white black tc b dib w2">{{unit.baseDice}}</span>
    </h1>

    <div class="dib ph3 mb3" [class]="unit.race">
        <aom-unit-card-content [hide]="['header', 'cost']" [unit]="unit">
        </aom-unit-card-content>
    </div>

    <table class="collapse">
        <thead>
            <tr>
                <th class="bg-near-white pa2">Filter</th>
                <td class="bg-near-white pa2">
                    <form [formGroup]="filterForm">
                        <ng-container *ngFor="let thisRace of ['egyptian', 'greek', 'norse']">
                            <label class="mh2" *ngIf="unit.race !== thisRace">
                                <input type="checkbox" [formControlName]="thisRace">{{thisRace | titlecase}}</label>
                        </ng-container>
                    </form>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="h5 bg-light-gray">
                    <p class="rotate-270">Strong vs</p>
                </th>
                <td class="bg-light-gray">
                    <div>
                        <aom-opponent-list [opponents]="filteredUnitsBeatenByMe()"></aom-opponent-list>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="h5 bg-moon-gray">
                    <p class="rotate-270">Weak vs</p>
                </th>
                <td class="bg-moon-gray">
                    <div>
                        <aom-opponent-list [opponents]="filteredUnitsThatBeatMe()"></aom-opponent-list>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>