/*
    https://hihayk.github.io/scale/#4/8/41/35/-109/201/42/56/FED561/255/213/97/white
*/

.egyptian
{
    background: #FED561;
}

.greek
{
    background: #1F9770;
}

.norse
{
    background: #83DBFF;
}

.icon {
    width: 16px;
    height: 16px;
    background: black;
    display: block;
}

.mortal-icon
{
    border-radius: 100%;
}

.hero-icon
{ 
    background: none;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid black;
}

.mt--1{
    margin-top: -.25rem;
}