/*
    https://hihayk.github.io/scale/#4/8/41/35/-109/201/42/56/FED561/255/213/97/white
*/

.bonus-narrow {
    width: 7.5rem;
}

.bonus-wide {
    width: 8.5rem;
}

.mt--1{
    margin-top: -.25rem;
}
