<div class="">

    <div class="center pv2">
        <form>
            <fieldset class="ba b--transparent ph0 mh0">
                <legend class="tc f4 fw6"><u>{{unit.baseDice}}</u> {{unit.name}}
                </legend>

                <div class="">
                    <aom-unit-card-content [hide]="['header', 'cost']" [unit]="unit">
                    </aom-unit-card-content>
                </div>
                <div class="pv2 tc center disabled">
                    <label class="mh2"><input type="checkbox" disabled checked>Egyptian</label>
                    <label class="mh2"><input type="checkbox" disabled checked>Greek</label>
                    <label class="mh2"><input type="checkbox" disabled checked>Norse</label>
                </div>
                <table class="collapse">
                    <tbody>
                        <tr>
                            <th class="h5 bg-light-gray">
                                <p class="rotate-270">Strong vs</p>
                            </th>
                            <td class="bg-light-gray">
                                <!-- TODO make carousel component -->
                                <div><!-- class="overflow-x-scroll" -->
                                    <div class="w5 dib ba b--black pa1 ma1"
                                        *ngFor="let enemy of unitService.getUnitsBeatenBy(unit)"
                                        [class]="enemy.race">
                                        <aom-unit-card-content [hide]="['cost', 'bonuses', 'special']" [unit]="enemy">
                                        </aom-unit-card-content>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="h5 bg-moon-gray">
                                <p class="rotate-270">Weak vs</p>
                            </th>
                            <td class="bg-moon-gray">
                                <!-- TODO make carousel component -->
                                <div><!-- class="overflow-x-scroll" -->
                                    <div class="w5 dib ba b--black pa1 ma1"
                                        *ngFor="let enemy of unitService.getUnitsThatBeat(unit)"
                                        [class]="enemy.race">
                                        <aom-unit-card-content [hide]="['cost', 'special']" [unit]="enemy">
                                        </aom-unit-card-content>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div class="flex">


                </div>
            </fieldset>
        </form>
    </div>
</div>