<div class="bg-near-white w-100 pa2 mb2" [formGroup]="filterForm">
    <strong>Filter: </strong>
        <ng-container *ngFor="let thisRace of ['egyptian', 'greek', 'norse']">
            <label class="mh2">
                <input type="checkbox" [formControlName]="thisRace">
                {{thisRace | titlecase}}
            </label>
        </ng-container>
</div>
<div class="flex flex-wrap">
    <div *ngFor="let unit of filteredUnits()">
        <aom-unit-card [unit]="unit"></aom-unit-card>
    </div>
</div>